* {
    box-sizing: border-box;
}
@font-face {
    font-family: "ARCADECLASSIC";
    src: url(../fonts/ARCADECLASSIC.TTF);
}
.hidden {
    display: none;
}
body {
    padding: 0;
    margin: 0;
    font-family: "ARCADECLASSIC";
}
h1 {
    color: #fdf0c1;
    font-size: 4vw;
    text-align: center;
    letter-spacing: 4px;
    word-spacing: 10px;
}
.game {
    background-color: #021f3f;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}
.row {
    text-align: center;
}
.card {
    display: inline-block;
    width: 14vw;
    height: 14vw;
    cursor: pointer;
    margin: 12px;
    border: 8px solid #000000;
    border-radius: 24%;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
@media only screen and (max-width: 768px) {
    .card {
        width: 20vw;
        height: 20vw;
    }
}
.red.activated, .red:active {
    box-shadow: 0 0 0 1px #ff5c36 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #ff5c36;
    transform: translateY(10px);
}
.green.activated, .green:active {
    box-shadow: 0 0 0 1px #a0ea00 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #a0ea00;
    transform: translateY(10px);
}
.yellow.activated, .yellow:active {
    box-shadow: 0 0 0 1px #ffca3d inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #ffca3d;
    transform: translateY(10px);
}
.blue.activated, .blue:active {
    box-shadow: 0 0 0 1px #2bbcff inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #2bbcff;
    transform: translateY(10px);
}
.unclickable {
    pointer-events: none;
}